table {
    border: 10px solid black;    
    border-collapse: collapse;
}

td {
    border: 10px solid black;
    width: 100px;
    height: 100px;
}

.rouge {
    background-color: red;
}

.jaune {
    background-color: yellow;  
}

.bleu {
    background-color: blue;  
}
