table {
    border-collapse: collapse;
}

td {
    border: 7px solid black;
    width: 70px;
    height: 70px;
}

.red {
    background-color: red;
}

.jaune {
    background-color: yellow;  
}

.blue {
    background-color: blue;  
}

.black {
    background-color: black;  
}

.hide_bottom {
    border-bottom: none;    
}

.hide_top {
    border-top: none;    
}
  
.hide_left {
    border-left: none;    
}

.hide_right {
    border-right: none;    
}

.narrow {
    width: 40px;
}

.low {
    height: 40px;
}